@model Ebakery.Models.UserCouponCombinedViewModel
@{
    ViewBag.Title = "Coupons";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<br />  <br /> <br /> <br />


    <div class="row">
        <div class="col-md-8">
            <table class="table table-borderless table-hover">
                <caption> Τα κουπόνια μου</caption>
                <tr>
                    <th>Κωδικός κουπονιού</th>
                    <th> Περιγραφή κουπονιού</th>
                    <th>Κατηγορία προϊόντων προς έκπτωση</th>
                    <th>Ημερομηνία λήξης κουπονιού</th>
                    <th> </th>
                </tr>

                @foreach (var coupon in Model.Coupons)
                {
                    <tr>
                        <td>@coupon.CouponCode </td>
                        <td>@coupon.Description</td>
                        <td>@coupon.DiscountCategory</td>
                        <td>@coupon.ExpirationDate</td>
                        <td><a href="@Url.Action("DeleteCoupon", "Admin", new { Id=coupon.Id}, null)">Delete</a></td>
                   </tr>
                }
            </table>
        </div>
    </div>


@if (ViewBag.EmptyList == true)
{
    <h1>Δεν έχετε δημιουργήσει ακόμα κουπόνια</h1>
}