@model Ebakery.Models.CombinedViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="row">
    <div class="col-md-6 offers">
        <h5>Στην ενδέκατη παραγγελία έχετε 10% έκπτωση!</h5>
        <h5>Για περισσότερες προσφορές εγγραφείτε στο newsletter μας για να λαμβάνετε κουπόνια!</h5>
    </div>
    <div class="col-md-6 ">
        @using (Html.BeginForm("CouponValidation", "Home"))
            {
            <div class="form-group" style="color:darkred">
                @Html.LabelFor(model => model.CouponCode,"Κωδικός κουπονιού", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CouponCode, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="submit" value="Εισάγετε τον κωδικό σας" class="btn btn-default" />
                </div>
            </div>
        }
        @if (Session["Not valid"] != null)
            {
            <p>Το κουπόνι σας έχει λήξει</p>
        }
        @if (Session["Not accepted"] != null)
            {
            <p>Εισάγετε ξανά τον κωδικό σας</p>
        }
    </div>
    <br />
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="categories" onclick="myFunction()"><b>@Model.Category.Categories[0]</b></div>
        <table id="@Model.Category.Categories[0]" class="table table-borderless table-hover">
            @foreach (var Product in Model.Products.Where(p => p.Category == Model.Category.Categories[0]))
            {
                <tr id="@Product.Id">
                    <td>@Product.Name</td>
                    <td>@Product.Price €</td>
@*                    <td><input type="number" id="@string.Format("{0}BN",Product.Id)" min="1" max="10"></td>*@
                    <td><button id="@string.Format("{0}B",Product.Id)" class="btn btn-default add">+</button> </td>
                </tr>
            }
        </table>
        @* }*@
        <script>
                function myFunction() {
                    var x = document.getElementById('@Model.Category.Categories[0]');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
        </script>
    </div>
    <div class="col-md-4">
        <div class="categories" onclick="myFunction2()"><b>@Model.Category.Categories[1]</b></div>
        <table id="@Model.Category.Categories[1]" class="table table-borderless table-hover">
            @foreach (var Product in Model.Products.Where(p => p.Category == Model.Category.Categories[1]))
            {
                <tr id="@Product.Id">
                    <td>@Product.Name</td>
                    <td>@Product.Price €</td>
                   
                    <td><button id="@string.Format("{0}B",Product.Id)" class="btn btn-default add">+</button> </td>
                </tr>
            }
        </table>
        @* }*@
        <script>
                function myFunction2() {
                    var x = document.getElementById('@Model.Category.Categories[1]');
                    if (x.style.display === 'none') {
                        x.style.display = 'block';
                    } else {
                        x.style.display = 'none';
                    }
                }
        </script>
    </div>

    <div id="shopping-cart" class="col-md-4 otina">
        <div id="baskettop">
            <span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;&nbsp;</span><p id="basketicon">Η ΠΑΡΑΓΓΕΛΙΑ ΣΟΥ</p>
        </div>
        <div id="mycart"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="categories" onclick="myFunction3()"><b>@Model.Category.Categories[2]</b></div>
        <table id="@Model.Category.Categories[2]" class="table table-borderless table-hover">
            @foreach (var Product in Model.Products.Where(p => p.Category == Model.Category.Categories[2]))
            {
                <tr id="@Product.Id">
                    <td>@Product.Name</td>
                    <td>@Product.Price €</td>
                   
                    <td><button id="@string.Format("{0}B",Product.Id)" class="btn btn-default add">+</button> </td>
                </tr>
            }
        </table>
        <script>
                function myFunction3() {
                    var x = document.getElementById('@Model.Category.Categories[2]');
                    if (x.style.display === 'none') {
                        x.style.display = 'block';
                    } else {
                        x.style.display = 'none';
                    }
                }
        </script>
    </div>

    <div class="col-md-4">
        <div class="categories" onclick="myFunction4()"><b>@Model.Category.Categories[3]</b></div>
        <table id="@Model.Category.Categories[3]" class="table table-borderless table-hover">
            @foreach (var Product in Model.Products.Where(p => p.Category == Model.Category.Categories[3]))
            {
                <tr id="@Product.Id">
                    <td>@Product.Name</td>
                    <td>@Product.Price €</td>
                   
                    <td><button id="@string.Format("{0}B",Product.Id)" class="btn btn-default add">+</button> </td>
                </tr>
            }
        </table>
        <script>
                function myFunction4() {
                    var x = document.getElementById('@Model.Category.Categories[3]');
                    if (x.style.display === 'none') {
                        x.style.display = 'block';
                    } else {
                        x.style.display = 'none';
                    }
                }
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="categories" onclick="myFunction5()"><b>@Model.Category.Categories[4]</b></div>
        <table id="@Model.Category.Categories[4]" class="table table-borderless table-hover">
            @foreach (var Product in Model.Products.Where(p => p.Category == Model.Category.Categories[4]))
            {
                <tr id="@Product.Id">
                    <td>@Product.Name</td>
                    <td>@Product.Price €</td>
                   
                    <td><button id="@string.Format("{0}B",Product.Id)" class="btn btn-default add">+</button> </td>
                </tr>
            }
        </table>
        <script>
                function myFunction5() {
                    var x = document.getElementById('@Model.Category.Categories[4]');
                    if (x.style.display === 'none') {
                        x.style.display = 'block';
                    } else {
                        x.style.display = 'none';
                    }
                }
        </script>
    </div>
    <div class="col-md-4">
        <div class="categories" onclick="myFunction6()"><b>@Model.Category.Categories[5]</b></div>
        <table id="@Model.Category.Categories[5]" class="table table-borderless table-hover">
            @foreach (var Product in Model.Products.Where(p => p.Category == Model.Category.Categories[5]))
            {
                <tr id="@Product.Id">
                    <td>@Product.Name</td>
                    <td>@Product.Price €</td>
                   
                    <td><button id="@string.Format("{0}B",Product.Id)" class="btn btn-default add">+</button> </td>
                </tr>
            }
        </table>
        <script>
                function myFunction6() {
                    var x = document.getElementById('@Model.Category.Categories[5]');
                    if (x.style.display === 'none') {
                        x.style.display = 'block';
                    } else {
                        x.style.display = 'none';
                    }
                }
        </script>
    </div>
</div>
<script>
                $(document).ready(function () {
                    // check where the shoppingcart-div is
                    var offset = $('#shopping-cart').offset();
                    $(window).scroll(function () {
                        var scrollTop = $(window).scrollTop();
                        // check the visible top of the browser
                        if (offset.top < scrollTop) {
                            $('#shopping-cart').addClass('fixed');
                        } else {
                            $('#shopping-cart').removeClass('fixed');
                        }
                    });
                });
                $(function () {
                    $('#mycart').load('/home/cart');
                });
                $('.add').on('click', function () {
                    var productid = $(this).closest('tr').attr('id');
                    console.log(productid);
                    var button = $(this).attr('id');
                    var v = $(this).attr('id') + 'N';
                    var value = $("#" + v).val();
                    console.log(value);
                    $.ajax({
                        url: 'http://localhost:62556/' + 'Home/Add/' + productid,
                        method: "POST",
                        success: function () {
                            console.log("success");
                            $("#mycart").load('/home/cart');

                        }
                    });

                });

</script>