<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ebakery Admin view</title>

    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css.css" rel="stylesheet" />
    @Styles.Render("~/Content/maincss.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() ==
                        "Index" ? "active" : "")"><a href="~/Admin/Index">Άρχικη</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() ==
                        "CouponCreation" ? "active" : "")"><a href="~/Admin/CouponCreation">Δημιουργήστε ένα κουπόνι</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() ==
                        "MyCustomers" ? "active" : "")"><a href="~/Admin/MyCustomers">Οι Πελάτες μας</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() ==
                        "Coupons" ? "active" : "")"><a href="~/Admin/Coupons">Διαθέσιμα κουπόνια</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() ==
                        "NewsLetter" ? "active" : "")"><a href="~/Admin/NewsLetter">Εγγεγραμμένοι στο Newsletter</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() ==
                        "LogOut" ? "active" : "")"><a href="~/Admin/LogOut"><span class="" glyphicon glyphicon-user"></span>Έξοδος</a></li>

                </ul>

            </div>
        </div>
    </nav>


    <div class="container body-content">
        <br><br>
        @RenderBody()

    </div>


    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

